<div class="card w-50 mx-auto">
    <div class="card-body">
        <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
            <h2>Sign up</h2>
            <br>
            <div class="mb-3">
                <label for="name" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="name" name="name" [(ngModel)]="user.name">
            </div>
            <div class="mb-3">
                <label for="dob" class="form-label">Date of Birth</label>
                <input type="date" class="form-control" id="dob" aria-describedby="dob" name="dob" [(ngModel)]="user.dob">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address
                    <span class="text-danger">*</span>    
                </label>
                <input type="email" class="form-control" id="email" aria-describedby="email" name="email" [(ngModel)]="user.email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password
                    <span class="text-danger">*</span>
                </label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="newsletter" name="newsLetterEnabled" [(ngModel)]="user.newsLetterEnabled">
                <label class="form-check-label" for="newsletter">Sign up for news letter</label>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Submit</button>
        </form>
    </div>
    <div>
        <h3>JSON Object</h3>
        <pre>{{ user | json }}</pre>
    </div>
</div>
